{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <br>
    <img class="card-img-top" src="{% static 'image/banner_4.png' %}" alt="Card image">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h2>About Me</h2>
                <h5>Photo of me:</h5>
                <div class="fakeimg">
                    <img class="card-img-top" src="{% static 'image/1111.jpg' %}" alt="Card image">
                </div>
                <h4>My School ...</h4>

                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h2 class="text-primary">ระดับ มัธยมศึกษาตอนต้น</h2>
                <h5>จบการศึกษา 31 มีนาคม 2560</h5>
                <div class="row text">
                    <div class="col-lg-4">
                        <img src="{% static 'image/school1_1.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>

                    <div class="col-lg-4">
                        <img src="{% static 'image/school1_2.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>

                    <div class="col-lg-4">
                        <img src="{% static 'image/school1_3.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>
                </div>
                <p class="text-center">&nbsp จบการศึกษาระดับชั้นมัธยมศึกษาตอนต้นจาก โรงเรียนธรรมจารีนิวาส</p>
                <p>โรงเรียนธรรมจารีนิวาส เป็นโรงเรียนดีประจำตำบล และโรงเรียนวิถีพุทธ เป็นโรงเรียนขนาดเล็กมีนักเรียน <br>
                    ประมาณ 180 คน ซึ่งเปิดสอนตั้งแต่ระดับชั้นอนุบาล 1 ถึงมัธยมศึกษาปีที่ 3</p>

                <h2 class="mt-5 text-primary">ระดับ ประกาศนียบัตรวิชาชีพ (ปวช.)</h2>
                <h5>จบการศึกษา 10 มีนาคม 2563</h5>
                <div class="row text">
                    <div class="col-lg-4">
                        <img src="{% static 'image/school2_1.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>

                    <div class="col-lg-4">
                        <img src="{% static 'image/school2_2.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>

                    <div class="col-lg-4">
                        <img src="{% static 'image/school2_3.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>
                </div>
                <p class="text-center">&nbsp จบการศึกษาระดับชั้นประกาศนียบัตรวิชาชีพ (ปวช.) วิทยาลัยเทคนิคร้อยเอ็ด</p>
                <p>จบ สาขาวิชาคอมพิวเตอร์ธุรกิจ สาขางานพาณิชยกรรม แผนกวิชาคอมพิวเตอร์ธุรกิจ ที่วิทยาลัยเทคนิคร้อยเอ็ด</p>

                <h2 class="mt-5 text-primary">ประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.)</h2>
                <h5>จบการศึกษา 30 มีนาคม 2565</h5>
                <div class="row text">
                    <div class="col-lg-4">
                        <img src="{% static 'image/school3_1.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>

                    <div class="col-lg-4">
                        <img src="{% static 'image/school3_2.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>

                    <div class="col-lg-4">
                        <img src="{% static 'image/school3_3.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>
                </div>
                <p class="text-center">&nbsp จบการศึกษาระดับชั้นประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) วิทยาลัยเทคนิคร้อยเอ็ด</p>
                <p>จบ สาขาวิชาเทคโนโลยีธุรกิจดิจิทัล สาขางานพาณิชยกรรม แผนกวิชาเทคโนโลยีคอมพิวเตอร์ <br>ที่วิทยาลัยเทคนิคร้อยเอ็ด</p>

                <h2 class="mt-5 text-primary">ระดับ ปริญญาตรี</h2>
                <h5>เริ่มเข้าศึกษา 20 มิถุนายน 2565</h5>
                <div class="row text">
                    <div class="col-lg-4">
                        <img src="{% static 'image/school4_1.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>

                    <div class="col-lg-4">
                        <img src="{% static 'image/school4_2.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>

                    <div class="col-lg-4">
                        <img src="{% static 'image/school4_3.jpg' %}" width="300px" height="200"
                             class="img-thumbnail">
                    </div>
                </div>
                <p class="text-center"> กำลังศึกษาในระดับชั้น ปริญญาตรี บริหารธุรกิจบัณฑิต หลักสูตร 2563 | บธ.บ. เทคโนโลยีธุรกิจดิจิทัล
                <br>คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ ที่มหาวิทยาลัยเทโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น</p>
            </div>
        </div>
    </div>
    <br>

{% endblock %}