{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <br>
    <img class="card-img-top" src="{% static 'image/banner_3.png' %}" alt="Card image">
    <marquee behavior="scroll" direstion="left"><h1 class="text-danger">!!! Welcome To Prem'm Bakery !!!</h1></marquee>
    <br>
    <div id="section1" class="container-fluid text-white" style="padding:30px 20px; background-color: #70C7E2">
        <h1>Cake</h1>
        <br>
        <div class="row text">
            &nbsp &nbsp &nbsp

            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'image/cake2.png' %}" alt="Card image">
                <div class="card-body">

                    <h4 class="card-title text-dark">เค้กชูวี่สตรอเบอร์รี่</h4>
                    <h5 class="text-info text-end">ราคา 190 ฿</h5>
                    <p><a href="" data-bs-toggle="collapse" data-bs-target="#demo1">ดูรายละเอียด...</a></p>

                    <div id="demo1" class="collapse text-dark text-center">
                        สัมผัสรสชาติของเค้กผลไม้ <br>
                        เนื้อบัตเตอร์สลับชั้นครีม 4 ชั้น <br>
                        ที่มีส่วนผสมของแยมสตรอเบอร์รี่ <br>
                        และระหว่างชั้นครีมมีผลไม้ <br>
                        ตระกูลเบอร์รี่ต่าง ๆ ทั้งบลูเบอร์รี่ <br>
                        ราสเบอร์รี่ แคลนเบอร์รี่ และบิงเชอร์รี่ <br>
                        รสหวานซ่อนเปรี้ยว ประดับตกแต่ง <br>
                        หน้าเค้กด้วยแยมสตรอเบอร์รี่ฉ่ำ  <br>
                        ผลเชอร์รี่ และกีวี่ อย่างสวยงาม <br>
                        และหน้ารับประทาน
                    </div>

                    <p class="card-text "></p>
                    <div class="text-end"><a href="#" class="btn btn-success ">สั่งซื้อ</a></div>
                </div>
            </div>

            &nbsp &nbsp &nbsp

            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'image/cake3.png' %}" alt="Card image">
                <div class="card-body">

                    <h4 class="card-title text-dark">เค้กชูวี่บลูเบอร์รี่</h4>
                    <h5 class="text-info text-end">ราคา 190 ฿</h5>
                    <p><a href="" data-bs-toggle="collapse" data-bs-target="#demo2">ดูรายละเอียด...</a></p>

                    <div id="demo2" class="collapse text-dark text-center">
                        สัมผัสรสชาติของเค้กผลไม้ <br>
                        เนื้อบัตเตอร์สลับชั้นครีม 4 ชั้น <br>
                        ที่มีส่วนผสมของแยมบลูเบอร์รี่ <br>
                        และระหว่างชั้นครีมมีผลไม้ <br>
                        ตระกูลเบอร์รี่ต่าง ๆ ทั้งบลูเบอร์รี่ <br>
                        ราสเบอร์รี่ แคลนเบอร์รี่ และบิงเชอร์รี่ <br>
                        รสหวานซ่อนเปรี้ยว ประดับตกแต่ง <br>
                        หน้าเค้กด้วยแยมสตรอเบอร์รี่ฉ่ำ  <br>
                        ผลเชอร์รี่ และกีวี่ อย่างสวยงาม <br>
                        และหน้ารับประทาน
                    </div>

                    <p class="card-text "></p>
                    <div class="text-end"><a href="#" class="btn btn-success ">สั่งซื้อ</a></div>
                </div>
            </div>

            &nbsp &nbsp &nbsp

            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'image/cake4.png' %}" alt="Card image">
                <div class="card-body">

                    <h4 class="card-title text-dark">เค้กสมูทตี้ออเรนท์ฟัดจ์</h4>
                    <h5 class="text-info text-end">ราคา 230 ฿</h5>
                    <p><a href="" data-bs-toggle="collapse" data-bs-target="#demo3">ดูรายละเอียด...</a></p>

                    <div id="demo3" class="collapse text-dark text-center">
                        สัมผัสเค้กเนื้อชิฟฟ่อนราดด้วย <br>
                        ซอสส้มเนื้อเนียนนุ่ม <br>
                        สลับชั้นซอสส้ม 3 ชั้น <br>
                        ราดหน้าเค้กด้วย <br>
                        ซอสส้มหวานซ่อนเปรี้ยว <br>
                        พร้อมประดับประดาด้วยชิ้นส้ม กีวี <br>
                        และผลเชอรี่ เคลือบเจลาติน <br>
                        ที่เข้ากันอย่างลงตัว
                    </div>

                    <p class="card-text "></p>
                    <div class="text-end"><a href="#" class="btn btn-success ">สั่งซื้อ</a></div>
                </div>
            </div>

            &nbsp &nbsp &nbsp

            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'image/cake5.png' %}" alt="Card image">
                <div class="card-body">

                    <h4 class="card-title text-dark">เค้กเจนัวกาแฟ</h4>
                    <h5 class="text-info text-end">ราคา 150 ฿</h5>
                    <p><a href="" data-bs-toggle="collapse" data-bs-target="#demo4">ดูรายละเอียด...</a></p>

                    <div id="demo4" class="collapse text-dark text-center">
                        เนื้อเค้กสปองจ์เนียนนุ่ม <br>
                        สลับชั้นครีม 3 ชั้น <br>
                        โรยหน้าเค้กด้วยอัลมอนด์ <br>
                        เคลือบคาราเมลอบกรอบ <br>
                        สัมผัสถึงความกรอบมันหวานฉ่ำ <br>
                        ละมุนทุกคำที่ลิ้มลอง
                    </div>

                    <p class="card-text "></p>
                    <div class="text-end"><a href="#" class="btn btn-success ">สั่งซื้อ</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="section2" class="container-fluid" style="padding:30px 20px; background-color: #FBC23F">
        <h1>Bread</h1>
        <br>
        <div class="row text">
            &nbsp &nbsp &nbsp

            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'image/bread1.png' %}" alt="Card image">
                <div class="card-body">

                    <h4 class="card-title text-dark">มินิครัวซองต์</h4>
                    <h5 class="text-info text-end">ราคา 60 ฿</h5>
                    <p><a href="" data-bs-toggle="collapse" data-bs-target="#demo5">ดูรายละเอียด...</a></p>

                    <div id="demo5" class="collapse text-dark text-center">
                        มินิครัวซองต์ <br> 15 กรัม x 10 ชิ้น
                    </div>

                    <p class="card-text "></p>
                    <div class="text-end"><a href="#" class="btn btn-success ">สั่งซื้อ</a></div>
                </div>
            </div>

            &nbsp &nbsp &nbsp

            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'image/bread2.png' %}" alt="Card image">
                <div class="card-body">

                    <h4 class="card-title text-dark">เค้กกล้วยหอม</h4>
                    <h5 class="text-info text-end">ราคา 60 ฿</h5>
                    <p><a href="" data-bs-toggle="collapse" data-bs-target="#demo6">ดูรายละเอียด...</a></p>

                    <div id="demo6" class="collapse text-dark text-center">
                        เค้กกล้วยหอม <br> 55 กรัม x 8 ชิ้น
                    </div>

                    <p class="card-text "></p>
                    <div class="text-end"><a href="#" class="btn btn-success ">สั่งซื้อ</a></div>
                </div>
            </div>

            &nbsp &nbsp &nbsp

            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'image/bread4.png' %}" alt="Card image">
                <div class="card-body">

                    <h4 class="card-title text-dark">ขนมปังชีสสติ๊ก</h4>
                    <h5 class="text-info text-end">ราคา 60 ฿</h5>
                    <p><a href="" data-bs-toggle="collapse" data-bs-target="#demo7">ดูรายละเอียด...</a></p>

                    <div id="demo7" class="collapse text-dark text-center">
                        ขนมปังชีสสติ๊ก <br> 55 กรัม x 2 ชิ้น
                    </div>

                    <p class="card-text "></p>
                    <div class="text-end"><a href="#" class="btn btn-success ">สั่งซื้อ</a></div>
                </div>
            </div>

        </div>
    </div>
    <br>
{% endblock %}