{% extends 'base.html' %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <div class="mt-4 p-2 text-white rounded" style="background-color: #FF6699">
        <h1 class="text-center"><b>Show My Data</b></h1></div>

    <div id="section1" class="container-fluid text-white" style="padding:30px 20px; background-color: #FBC23F">
        <h5 class="text-dark">รหัสนักศึกษา : {{ showID }}</h5>
        <h5 class="text-dark">ชื่อนักศึกษา : {{ showName }}</h5>
        <h5 class="text-dark">ที่อยู่นักศึกษา : {{ showAddress }}</h5>
        <h5 class="text-dark">รหัสนักศึกษา : {{ showTel }}</h5>
        <h5 class="text-dark">เพศ : {{ showGender }}</h5>
        <h5 class="text-dark">วันเกิด : {{ showBirthday }}</h5>
        <h5 class="text-dark">น้ำหนัก : {{ showWeight }}</h5>
        <h5 class="text-dark">ส่วนสูง : {{ showHeight }}</h5>
        <h5 class="text-dark">สถานะ : {{ showStatus }}</h5>
        <h5 class="text-dark">มหาวิทยาลัย : {{ showSchool }}</h5>
    </div>

    <table width="100%" class="table table-striped">
        <tr class="text-center table-primary">
            <td><b>Product Name</b></td>
            <td><b>Product Price</b></td>
            <td><b>Product Images</b></td>
        </tr>

        {% for product in products %}
            <tr>
                <td><b>{{ product.0 }}</b></td>
                <td class="text-center">{{ product.1 }}</td>
                <td class="text-center"><img class="img img-thumbnail" src="{{ product.2 }}"></td>
            </tr>
        {% endfor %}
    </table>
    <br>

    </table>

{% endblock %}